<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.ITestDao">
    <resultMap id="BaseResultMap" type="map">
        <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER" property="id"/>
        <id column="username" javaType="java.lang.String" property="username" jdbcType="VARCHAR"/>
        <id column="password" javaType="java.lang.String" property="password" jdbcType="VARCHAR"/>
        <id column="email" javaType="java.lang.String" property="email" jdbcType="VARCHAR"/>
        <id column="phone" javaType="java.lang.String" property="phone" jdbcType="VARCHAR"/>
        <id column="question" javaType="java.lang.String" property="question" jdbcType="VARCHAR"/>
        <id column="answer" javaType="java.lang.String" property="answer" jdbcType="VARCHAR"/>
        <id column="role" javaType="java.lang.Integer" property="role" jdbcType="INTEGER"/>
        <id column="create_time" javaType="java.lang.String" property="createTime" jdbcType="TIMESTAMP"/>
        <id column="update_time" javaType="java.lang.String" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--add by zhangpei-->
    <resultMap id="user" type="map">
        <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER" property="id"/>
        <id column="username" javaType="java.lang.String" jdbcType="VARCHAR" property="username"/>
        <id column="password" javaType="java.lang.String" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, password, email, phone, question, answer, role, create_time, update_time
    </sql>
    <!--add by zhangpei-->
    <sql id="user">
        id, username, password
    </sql>
    <insert id="insertUser" parameterType="map">
        INSERT INTO ${user} VALUES
        (NULL ,
        <if test="username != null and username != ''">
            #{username},
        </if>
        <if test="password != null and username != ''">
            #{password})
        </if>
    </insert>
    <update id="updateUser">
        UPDATE ${user} SET
        <if test="username != null and username != ''">
            username = #{username},
        </if>
        <if test="password != null and password != ''">
            password = #{password}
        </if>
        <where>
            id = #{id}
        </where>
    </update>
    <!--测试批量更新-->
    <update id="updateByBatch">

    </update>
    <sql id="username">
        username =
        <foreach collection="usernameList" item="item" separator=" " open="CASE ID">
            WHEN #{item.ID} THEN #{item.username}
        </foreach>
    </sql>
    <sql id="password">
        password =
        <foreach collection="usernameList" item="item" separator=" " open="CASE ID" close="END">
            WHEN #{item.ID} THEN #{item.password}
        </foreach>
    </sql>
    <select id="showUsers" resultType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM MMALL_USER
    </select>
    <select id="queryUsers" resultType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM MMALL_USER
    </select>
    <select id="insertDatas" parameterType="map" resultMap="BaseResultMap">

    </select>
    <select id="queryUser" parameterType="map" resultMap="user" resultType="list">
        SELECT
        <include refid="user"/>
        FROM ${user}
    </select>
    <select id="testBatchQuery" parameterType="map" resultMap="user" resultType="list">
        SELECT
        <include refid="user"/>
        FROM USER WHERE ID IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="queryProblemProces" resultType="java.util.HashMap" parameterType="map">
        SELECT * FROM T_SR_PROBLEM_PROCES WHERE WRKFM_ID = #{wrkfmId}
    </select>
    <!--测试批量查询-->
    <select id="queryProRelSys" resultType="java.util.HashMap" parameterType="map">
        SELECT * FROM T_SR_PROC_REL_SYS LIMIT #{start}, #{limit}
    </select>

    <!--测试参数为list-->
    <update id="testMybatis" parameterType="list">
        <foreach collection="list" item="param" separator=";">
            UPDATE ${param.user}
            <set>
                <if test="param.username != null and param.username != ''">
                    username = #{param.username},
                </if>
                <if test="param.password != null and param.password != ''">
                    password = #{param.password},
                </if>
            </set>
            WHERE id = #{param.id}
        </foreach>
    </update>
    <!--caseWhen形式更新-->
    <update id="testCaseWhen" parameterType="java.util.Map">
        UPDATE ${user}
        <set>
            <trim prefix="id= CASE id" suffix="END,">
                <foreach collection="list" item="param">
                    <if test="param.id != null and id != ''">
                        WHEN #{param.id} THEN #{param.id}
                    </if>
                </foreach>
            </trim>
            <trim prefix="username = CASE id" suffix="END,">
                <foreach collection="list" item="param">
                    <if test="param.username != null and param.username != ''">
                        WHEN #{param.} THEN #{param.username}
                    </if>
                </foreach>
            </trim>
            <trim prefix="password = CASE id" suffix="END,">
                <foreach collection="list" item="param">
                    <if test="param.password != null and param.password != ''">
                        WHEN #{param.id} THEN #{param.password}
                    </if>
                </foreach>
            </trim>
        </set>
        <where>
            id in
            <foreach collection="list" item="param" separator="," open="(" close=")">
                #{param.id}
            </foreach>
        </where>
    </update>

    <!--测试update中有逗号分隔符-->
    <update id="testDouHao" parameterType="map">
        UPDATE ${user}
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="createtime != null and createtime != ''">
                createtime = #{createtime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--产品表-->
    <resultMap id="productMap" type="map">
        <id property="id" column="id" jdbcType="INTEGER" javaType="INTEGER"/>
        <id property="productName" column="product_name" jdbcType="VARCHAR" javaType="STRING"/>
        <id property="amount" column="amount" jdbcType="BIGINT" javaType="DOUBLE"/>
    </resultMap>

    <sql id="product_column">
        id, product_name, amount
    </sql>
    <!--测试悲观锁-->
    <update id="testPessimisticTransaction1" parameterType="map">
        UPDATE ${product_instock}
        <set>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="amount != null and amount != ''">
                amount = #{amount}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
        <if test="forUpdate != null and forUpdate != ''">
            FOR UPDATE
        </if>
    </update>
    <!--测试乐观锁-->
    <update id="testOpimism">

    </update>

    <!--查询产品-->
    <select id="selectProduct" parameterType="map" resultType="map" resultMap="productMap">
        SELECT
        <include refid="product_column"/>
        FROM ${product_instock}
        <where>
            id = #{id}
        </where>
        <if test="forUpdate != null and forUpdate != ''">
            FOR UPDATE
        </if>
    </select>

    <!--测试分表-->
    <select id="testSplitTable" resultType="hashmap" parameterType="map">
        SELECT * FROM ${table_name} WHERE WRKFM_ID = #{wrkfmId}
    </select>
</mapper>